.request-card-container {
  display: grid;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  margin: 40px;
  width: 400px;
  box-shadow: 5px 5px 5px rgb(27, 27, 27);
}

.request-card-container hr {
  background-color: black;
  width: 300px;
}

.request-card-container .select-box {
  padding: 20px;
  background-color: #93B5B3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.request-card-container .description {
  color: rgb(90, 90, 90);
  padding: 10px;
}

  .request-card-container .tags button{
  margin: 5px;
}
